.sticky {
	display: block;
}

.post,
.page {
	margin: 0;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
  max-width: $size__content-max;
  margin: 1.5em auto 0;
  padding: 0 1rem;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.sub-title {
  text-align: center;
  font-size: 1.1rem;
}

.line-button {
  &.wp-block-button {
    .wp-block-button__link {
      padding-left: 3.6rem;
      background-repeat: no-repeat;
      background-size: 2.5rem;
      background-position: .6rem center;
      background-image: url(./assets/images/line-icon.png);
    }
  }
}

