.sticky {
	display: block;
}

.post,
.page {
	margin: 0;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
  max-width: 1200px;
  margin: 1.5em auto 0;
  padding: 0 1rem;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.sub-title {
  text-align: center;
}