.sticky {
	display: block;
}

.post,
.page {
	margin: 0;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
  max-width: $size__site-max;
  margin: 1.5em auto 0;
  padding: 0 1rem;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.sub-title {
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 2.5em;
}

.small-text {
  font-size: .9rem;
}

.line-button {
  margin-top: 1.5em;
  margin-bottom: 1.2em;
  &.wp-block-button {
    .wp-block-button__link {
      padding: 0 16px 0 48px;
      line-height: 48px;
      border: 2px solid #00B900;
      border-radius: 24px;
      background-repeat: no-repeat;
      background-size: 32px;
      background-position: left 8px center;
      background-image: url(./images/line-icon-r.png);
      color: $color__text-main;
      transition: color .3s .1s, background-color .3s;
      &:hover {
        color: $color__text-reverse;
        background-color: #00B900;
      }
    }
  }
}
