.site-footer {
  height: $height__site-header;
  background-color: $color__background-footer;
}

.copyright {
  margin: 0 auto;
  line-height: $height__site-header;
  text-align: center;
  color: $color__background-body;
}
