.main-navigation {
  position: absolute;
	display: block;
  top: 0;
  right: 0;

  .menu-toggle {
    position: absolute;
    z-index: 100;
    right: 8px;
  }

  .nav-menu {
    position: relative;
    padding-top: $height__site-header;
    top: 0;
    right: 0;
    transform: translateY(-100%);
  }
  &.toggled {
    .nav-menu {
      transform: translateY(0);
    }
  }

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
      padding-left: 1em;

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */




.main-navigation ul {
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
