.main-navigation {
  position: absolute;
	display: block;
  top: 0;
  right: 8px;

  .nav-menu {
    position: relative;
    top: 0;
    right: 0;
    padding: 16px 32px;
    transform: translateY(-100%);
    background-color: $color__background-header;
    opacity: 0;
  }

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	a {
    display: block;
    line-height: $font__line-height-normal;
		text-decoration: none;
    color: $color__background-body;
  }

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

.toggled.main-navigation {
  .nav-menu {
    opacity: 1;
    transform: translateY($height__site-header);
  }
}

.menu-toggle {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  height: $height__site-header;
  width: $height__site-header;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
  &:active,
  &:focus {
    outline: none;
  }
  &::before,
  &__line,
  &::after {
    content: '';
    display: block;
    position: absolute;
    right: 12px;
    margin: 0 auto;
    background-color: $color__background-body;
    width: 24px;
    height: 2px;
    border-radius: 1px;
  }
  &::before {
    top: 15px;
  }
  &__line {
    top: 23px;
  }
  &::after {
    top: 31px
  }
}

.toggled .menu-toggle {
  &::before,
  &__line,
  &::after {
    right: 10px;
    width: 28px;
  }
  &::before {
    top: 23px;
    transform: rotateZ(45deg);
  }
  &__line {
    opacity: 0;
  }
  &::after {
    top: 23px;
    transform: rotateZ(-45deg);
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
