$size__site-main: 100%;
$size__site-sidebar: 25%;

$size__site-max: 1200px;
$size__content-max: 960px;

$height__site-header: 48px;

$breakpoint__sp : 480px;
$breakpoint__tab : 780px;
$breakpoint__note : 1040px;
$breakpoint__pc : 1280px;

$wp__breakpoint-max599: 599px;